* text=auto !eol
/AUTHORS -text
/COPYRIGHT -text
/ChangeLog -text
/GNUmakefile.orig -text
/Makefile.am -text
/Makefile.orig -text
/NEWS -text
/README -text
/autogen.sh -text
/config.guess -text
/config.h.in -text
/config.sub -text
/configure.ac -text
/depcomp -text
doc/Doxyfile -text
doc/H5X_File_Format.txt -text
doc/Makefile.am -text
doc/doxyfooter -text
/install-sh -text
/license.txt -text
/missing -text
/rules.make -text
src/H5Block.c -text
src/H5Block.h -text
src/H5BlockErrors.h -text
src/H5BlockPrivate.h -text
src/H5BlockTypes.h -text
src/H5Part.c -text
src/H5Part.h -text
src/H5PartErrors.h -text
src/H5PartPrivate.h -text
src/H5PartTypes.h -text
src/Makefile.am -text
src/bindings/Fortran/H5BlockF.c -text
src/bindings/Fortran/H5BlockF90.inc -text
src/bindings/Fortran/H5PartF.c -text
src/bindings/Fortran/H5PartF90.inc -text
src/bindings/Fortran/TestUnderscore.f -text
src/bindings/Fortran/TestUnderscoreC.c -text
test/Bench.c -text
test/BlockTestSpecs.txt -text
test/H5BlockDissolveGhosts.c -text
test/H5BlockParTestScalarField.c -text
test/H5BlockParTestScalarField.pbs -text
test/H5BlockParTestScalarFieldF.f90 -text
test/H5BlockTestAttributes.c -text
test/H5BlockTestAttributesF.f90 -text
test/H5ParallelTest.cc -text
test/H5PartAndreasTest.cc -text
test/H5PartTest.cc -text
test/H5PartTestParallel.cc -text
test/H5test.cc -text
test/H5testF.f -text
test/H5testFpar.f90 -text
test/Makefile.am -text
tools/Makefile.am -text
tools/README -text
tools/h5pAttrib.cc -text
tools/h5pToGNUplot.cc -text
tools/homdynToH5p.cc -text
visit_plugins/databases/H5Part/.depend -text
visit_plugins/databases/H5Part/Makefile -text
visit_plugins/databases/H5Part/README.txt -text
visit_plugins/databases/H5Part/avth5partFileFormat.C -text
visit_plugins/databases/H5Part/avth5partFileFormat.h -text
visit_plugins/databases/H5Part/h5part.xml -text
visit_plugins/databases/H5Part/h5partCommonPluginInfo.C -text
visit_plugins/databases/H5Part/h5partEnginePluginInfo.C -text
visit_plugins/databases/H5Part/h5partMDServerPluginInfo.C -text
visit_plugins/databases/H5Part/h5partPluginInfo.C -text
visit_plugins/databases/H5Part/h5partPluginInfo.h -text
visit_plugins/operators/BinnerFilter/.depend -text
visit_plugins/operators/BinnerFilter/Binner.xml -text
visit_plugins/operators/BinnerFilter/BinnerCommonPluginInfo.C -text
visit_plugins/operators/BinnerFilter/BinnerEnginePluginInfo.C -text
visit_plugins/operators/BinnerFilter/BinnerFilter.C -text
visit_plugins/operators/BinnerFilter/BinnerFilter.h -text
visit_plugins/operators/BinnerFilter/BinnerFilter.java -text
visit_plugins/operators/BinnerFilter/BinnerGUIPluginInfo.C -text
visit_plugins/operators/BinnerFilter/BinnerMakefile -text
visit_plugins/operators/BinnerFilter/BinnerPluginInfo.C -text
visit_plugins/operators/BinnerFilter/BinnerPluginInfo.h -text
visit_plugins/operators/BinnerFilter/BinnerScriptingPluginInfo.C -text
visit_plugins/operators/BinnerFilter/BinnerViewerPluginInfo.C -text
visit_plugins/operators/BinnerFilter/Binnerreplace.txt -text
visit_plugins/operators/BinnerFilter/Makefile -text
visit_plugins/operators/BinnerFilter/PyBinner.C -text
visit_plugins/operators/BinnerFilter/PyBinner.h -text
visit_plugins/operators/BinnerFilter/QvisBinnerWindow.C -text
visit_plugins/operators/BinnerFilter/QvisBinnerWindow.h -text
visit_plugins/operators/BinnerFilter/avtBinnerFilter.C -text
visit_plugins/operators/BinnerFilter/avtBinnerFilter.h -text
visit_plugins/operators/BinnerFilter/icon.xpm -text
visit_plugins/operators/RandomSample/.depend -text
visit_plugins/operators/RandomSample/H5PartRandomSampleAttributes.C -text
visit_plugins/operators/RandomSample/H5PartRandomSampleAttributes.h -text
visit_plugins/operators/RandomSample/H5PartRandomSampleAttributes.java -text
visit_plugins/operators/RandomSample/H5PartRandomSampleCommonPluginInfo.C -text
visit_plugins/operators/RandomSample/H5PartRandomSampleEnginePluginInfo.C -text
visit_plugins/operators/RandomSample/H5PartRandomSampleGUIPluginInfo.C -text
visit_plugins/operators/RandomSample/H5PartRandomSamplePluginInfo.C -text
visit_plugins/operators/RandomSample/H5PartRandomSamplePluginInfo.h -text
visit_plugins/operators/RandomSample/H5PartRandomSampleScriptingPluginInfo.C -text
visit_plugins/operators/RandomSample/H5PartRandomSampleViewerPluginInfo.C -text
visit_plugins/operators/RandomSample/Makefile -text
visit_plugins/operators/RandomSample/PyH5PartRandomSampleAttributes.C -text
visit_plugins/operators/RandomSample/PyH5PartRandomSampleAttributes.h -text
visit_plugins/operators/RandomSample/QvisH5PartRandomSampleWindow.C -text
visit_plugins/operators/RandomSample/QvisH5PartRandomSampleWindow.h -text
visit_plugins/operators/RandomSample/RandomSample.xml -text
visit_plugins/operators/RandomSample/avtH5PartRandomSampleFilter.C -text
visit_plugins/operators/RandomSample/avtH5PartRandomSampleFilter.h -text
visit_plugins/operators/RandomSample/icon.xpm -text
